main{
    margin-top: 40vh;
    margin-left: 75vh;
}
h1{
    margin-left: 9vh;
}
#value{
    font-size: 50px;
    margin-left: 14vh;
}
.button-container{
    margin-top: 20px;
}
@media screen and (max-width:1024px){
body{
    background-color: aqua;
}
main{
    margin-top: 40vh;
    margin-left: 60vh;
}
h1{
    margin-left: 9vh;
}
#value{
    font-size: 50px;
    margin-left: 14vh;
}
.button-container{
    margin-top: 20px;
}
}

@media screen and (max-width:924px){
    body{
        background-color: greenyellow;
    }
    main{
        margin-top: 40vh;
        margin-left: 52vh;
    }
    h1{
        margin-left: 9vh;
    }
    #value{
        font-size: 50px;
        margin-left: 14vh;
    }
    .button-container{
        margin-top: 20px;
    }
    }
    @media screen and (max-width:764px){
        body{
            background-color: brown;
        }
        main{
            margin-top: 40vh;
            margin-left: 37vh;
        }
        h1{
            margin-left: 9vh;
        }
        #value{
            font-size: 50px;
            margin-left: 14vh;
        }
        .button-container{
            margin-top: 20px;
        }
        }
        @media screen and (max-width:630px){
            body{
                background-color: burlywood;
            }
            main{
                margin-top: 40vh;
                margin-left: 25vh;
            }
            h1{
                margin-left: 9vh;
            }
            #value{
                font-size: 50px;
                margin-left: 14vh;
            }
            .button-container{
                margin-top: 20px;
            }
            }